<body class="d-flex flex-column min-vh-100">

    <div class="content flex-fill">

    </div>

    <footer class="text-center text-white mt-auto bg-dark">
        <div class="container p-3 pb-0">
            <section>
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Made by Danial Serekov</span>
                </p>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Kazakh-British Technical University
        </div>
    </footer>

    <script src="path/to/bootstrap.bundle.js"></script>
</body>